<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body>
    <app-nav-bar></app-nav-bar>
    <div class="container" >
    
      <div class="row">
        <div class="col">
          <div onload="alert('test')">  
            
            <input type="text" value="" class="frmUrlVal" #URL>
            <input type="submit" class="frmSubmit" value="Go" (click)="loadPage(URL.value)">
            <input type="button" VALUE="&lt; &lt; &nbsp; Back &nbsp;"  (click)="back()" [disabled]="index <= 1"> 
            <input type="button" VALUE="Forward &nbsp; &gt; &gt;"  (click)="forward()" [disabled]="index >= counter"> 
            <input type="button" VALUE="stop"  (click)="stop()"> 
           </div>
           <iframe align="center" width="100%" height="500px" (load)="newPage()" 
           allow="midi *, fullscreen *, geolocation *, picture-in-picture *, 
           encrypted-media *, autoplay *" 
           sandbox="allow-forms allow-presentation allow-same-origin allow-scripts allow-popups-to-escape-sandbox" 
           src="" allowfullscreen="" 
           referrerpolicy="origin" allowtransparency="" ></iframe>
            
          <router-outlet></router-outlet>
        </div>
      </div>
    <br>
    </div>
    <app-footer></app-footer>    
</body>